[submodule "vendor/happy-cli"]
	path = vendor/happy-cli
	url = git@github.com:gravtice/happy-cli.git
[submodule "vendor/happy"]
	path = vendor/happy
	url = git@github.com:gravtice/happy.git
[submodule "vendor/happy-server"]
	path = vendor/happy-server
	url = git@github.com:gravtice/happy-server.git
