[submodule "vendor/happy-cli"]
	path = vendor/happy-cli
	url = git@github.com:Gravtice/happy-cli.git
[submodule "vendor/happy"]
	path = vendor/happy
	url = git@github.com:Gravtice/happy.git
[submodule "vendor/happy-server"]
	path = vendor/happy-server
	url = git@github.com:Gravtice/happy-server.git
